:root {
  --main-color-black: #000000;

  --web-color-blue: #2196f3;

  --backgtound-color-grey: #2f303a;

  --mail-color: #757575;

  --buttons-color: #f5f4fa;

  --white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color-black);
}

.logo {
  color: var(--main-color-black);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.033em;
  text-decoration: none;
  text-align: center;
  border: none;
}

.web {
  color: var(--web-color-blue);
}

.title-background {
  height: 600px;
  width: 1600px;
  left: 0px;
  top: 80px;
  border-radius: 0px;
  background: var(--backgtound-color-grey);
}

.menu {
  color: inherit;
  text-decoration: none;
}

.add-menu:hover {
  color: var(--web-color-blue);
}
.link-menu:focus {
  color: var(--web-color-blue);
}
.mail {
  color: var(--mail-color);
}

.buttons {
  color: inherit;
  background-color: var(--buttons-color);
  cursor: pointer;
  text-align: center;
}

.button-act:focus {
  color: var(--white-color);
  background-color: var(--web-color-blue);
}

.btn:hover {
  color: var(--white-color);
  background-color: var(--web-color-blue);
}
.title {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-color);
}

.lorem {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--mail-color);
}

.h2 {
  font-size: 36px;
  line-height: 1.66;
  letter-spacing: 0.03em;
  text-align: center;
}
.h3 {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
}
.name {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.areas {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.offer {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--mail-color);
}

.staff {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--mail-color);
}

.downline-footer {
  height: 252px;
  width: 1600px;
  left: 0px;
  top: 2097px;
  border-radius: 0px;
  background: var(--backgtound-color-grey);
}

.address {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--white-color);
}

.studio {
  color: var(--white-color);
}

/*DESIGN*/

.container {
  max-width: 1200px;
  padding: 15px;
  box-sizing: border-box;
}

/*.box {
  margin: 0 auto;
}*/
.line-up {
  border-bottom: 1px solid #ececec;
  width: 1600px;
  top: 80px;
}
.logo-web {
  height: 31px;
  width: 145px;
  left: 215px;
  top: 24px;
  border-radius: nullpx;
}

.flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.flex-links {
  display: flex;
  list-style: none;
}
.flex-links li {
  margin: 0 46px;
}

.flex-cont {
  display: flex;
  list-style: none;
  padding: 0;
}

.flex-cont li {
  margin: 0 50px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.background-title {
  height: 600px;
  width: 1600px;
  left: 0px;
  top: 80px;
  border-radius: 0px;
}
.button-first {
  height: 50px;
  width: 200px;
  left: 700px;
  right: 700px;
  top: 430px;
  border-radius: 4px;
}
